:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1929px;
  height: 6577px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0);
}
.flex-row-d {
  position: relative;
  width: 1120px;
  height: 52px;
  margin: 5px 0 0 46px;
  z-index: 71;
}
.umut-hastan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 52px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 29px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 15px;
  left: 718px;
  color: #ffffff;
  font-family: Koh Santepheap, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 21.582px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 15px;
  left: 887px;
  color: #ffffff;
  font-family: Koh Santepheap, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 21.582px;
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 15px;
  left: 1058px;
  color: #ffffff;
  font-family: Koh Santepheap, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  line-height: 21.582px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.rectangle {
  position: absolute;
  width: 5122px;
  height: 10977px;
  top: -1279px;
  left: -1759px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/WpPyCRO6fa.png)
    no-repeat center;
  background-size: cover;
}
.line {
  position: absolute;
  width: 2012.968px;
  height: 1px;
  top: 62px;
  left: -92px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/qpKm99jauW.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
}
.flex-row-bd {
  position: absolute;
  width: 1610px;
  height: 7267px;
  top: 63px;
  left: 0;
  z-index: 65;
}
.line-1 {
  position: absolute;
  width: 1px;
  height: 7267px;
  top: 0;
  left: 280.5px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/oQzWvAMNyu.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
}
.resume {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 375px;
  height: 692px;
  top: 2485px;
  left: 0;
  color: #353535;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 175px;
  font-weight: 400;
  line-height: 316.162px;
  text-align: left;
  transform: rotate(-90deg);
  z-index: 9;
  text-shadow: -72px 49px 7.3px rgba(0, 0, 0, 0.25);
}
.education {
  position: absolute;
  width: 939px;
  height: 2206px;
  top: 2494px;
  left: 512px;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
  z-index: 61;
}
.objective {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.empty {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.education-details {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.objective-2 {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.education-details-3 {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.objective-4 {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.education-details-5 {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.objective-6 {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.education-details-7 {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.objective-8 {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.education-details-9 {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.objective-a {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.education-details-b {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.line-break {
  position: relative;
  color: #353535;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.objective-c {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.seeking-it-apprenticeship {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.pic-3 {
  position: absolute;
  width: 127px;
  height: 127px;
  top: 2674px;
  left: 1338px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/JRbemyK7Lk.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
}
.img-2 {
  position: absolute;
  width: 1px;
  height: 55px;
  top: 2775px;
  left: 521px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/9WE1xXS2OM.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.img-3 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 2794px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/d4MncRU4a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.pic-4 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 2829px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/dpmyb02fJB.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.mastered-languages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 939px;
  height: 78px;
  top: 2983px;
  left: 512px;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
  z-index: 36;
}
.pic-5 {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 3027px;
  left: 1282px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/9s2H9OxEyH.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
}
.group {
  position: absolute;
  width: 117.419px;
  height: 40px;
  top: 3033px;
  left: 512px;
  background: #f6f6f6;
  z-index: 34;
  border-radius: 10px;
}
.img-4 {
  position: relative;
  width: 26.087px;
  height: 30px;
  margin: 5px 0 0 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/S2sDDFgb26.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
}
.group-2 {
  position: absolute;
  width: 117.419px;
  height: 40px;
  top: 3033px;
  left: 671px;
  background: #f6f6f6;
  z-index: 38;
  border-radius: 10px;
}
.img-5 {
  position: relative;
  width: 28px;
  height: 28px;
  margin: 6px 0 0 7px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/KsbsO83ovN.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
}
.box {
  position: absolute;
  width: 117.419px;
  height: 40px;
  top: 3033px;
  left: 823px;
  background: #f6f6f6;
  z-index: 47;
  border-radius: 10px;
}
.pic-6 {
  position: relative;
  width: 29px;
  height: 29px;
  margin: 5px 0 0 9px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/Zr3VyH9AiF.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
}
.box-2 {
  position: absolute;
  width: 117.419px;
  height: 40px;
  top: 3033px;
  left: 975px;
  background: #f6f6f6;
  z-index: 50;
  border-radius: 10px;
}
.img-6 {
  position: relative;
  width: 29px;
  height: 29px;
  margin: 5px 0 0 8px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/GGseFyH11F.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
}
.box-3 {
  position: absolute;
  width: 117.419px;
  height: 40px;
  top: 3033px;
  left: 1133px;
  background: #f6f6f6;
  z-index: 52;
  border-radius: 10px;
}
.pic-7 {
  position: relative;
  width: 20.174px;
  height: 29px;
  margin: 5px 0 0 12px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/rLiNXiruRb.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.box-4 {
  position: absolute;
  width: 117.419px;
  height: 40px;
  top: 3034px;
  left: 1285px;
  background: #f6f6f6;
  z-index: 56;
  border-radius: 10px;
}
.c-language {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 46px;
  height: 80px;
  top: 3041px;
  left: 584px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 37;
}
.javascript {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 257px;
  height: 61px;
  top: 3041px;
  left: 712px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 40;
}
.python {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 258px;
  height: 61px;
  top: 3041px;
  left: 878px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 48;
}
.html {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 258px;
  height: 61px;
  top: 3041px;
  left: 1030px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 51;
}
.css {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 258px;
  height: 61px;
  top: 3041px;
  left: 1189px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 53;
}
.c-sharp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 257px;
  height: 61px;
  top: 3042px;
  left: 1353px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 57;
}
.rectangle-d {
  position: absolute;
  width: 120.355px;
  height: 41px;
  top: 3088px;
  left: 511px;
  background: #f6f6f6;
  z-index: 41;
  border-radius: 10px;
}
.image {
  position: relative;
  width: 55.5px;
  height: 37px;
  margin: 1px 0 0 5px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/7WQtDBjxhO.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.rectangle-e {
  position: absolute;
  width: 120.355px;
  height: 41px;
  top: 3088px;
  left: 671px;
  background: #f6f6f6;
  z-index: 44;
  border-radius: 10px;
}
.image-f {
  position: relative;
  width: 22.44px;
  height: 33px;
  margin: 4px 0 0 13px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/qfCoxDR4e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.rectangle-10 {
  position: absolute;
  width: 120.355px;
  height: 41px;
  top: 3089px;
  left: 823px;
  background: #f6f6f6;
  z-index: 58;
  border-radius: 10px;
}
.image-11 {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 3px 0 0 9px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/xjgMccn5Sp.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.my-sql {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 259px;
  height: 61px;
  top: 3098px;
  left: 574px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 43;
}
.figma {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 258px;
  height: 61px;
  top: 3098px;
  left: 725px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 45;
}
.git {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 257px;
  height: 61px;
  top: 3098px;
  left: 893px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 23.486px;
  text-align: left;
  z-index: 59;
}
.line-12 {
  position: absolute;
  width: 1px;
  height: 125px;
  top: 3227px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/22mW64NCS6.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.line-13 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 3281px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/dyABPPjjSv.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.line-14 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 3314px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/q6p9LGQZDM.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.line-15 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 3351px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/TZKYz5SuC5.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
}
.line-16 {
  position: absolute;
  width: 1px;
  height: 643px;
  top: 3501px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/LbH24TMHjP.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.blackjack-terminal-game {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 748px;
  height: 792px;
  top: 3551px;
  left: 542px;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
  z-index: 12;
}
.line-17 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 3567px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/JcdJnRxtKV.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.line-18 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 3676px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/3WHWekbzdj.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.line-19 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 3783px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/xMs4Ni0NAv.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.line-1a {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 3891px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/CTNh0ayZrp.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.line-1b {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 3999px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/HkdU0Sqg3L.png)
    no-repeat center;
  background-size: cover;
  z-index: 25;
}
.line-1c {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 4143px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/Bs8KVvxVDO.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.line-1d {
  position: absolute;
  width: 1px;
  height: 125px;
  top: 4432px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/D2qSfhnOVm.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.line-1e {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 4483px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/hJwrBGa8AJ.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.line-1f {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 4519px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/NZ8YTeM3kc.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.line-20 {
  position: absolute;
  width: 16px;
  height: 1px;
  top: 4556px;
  left: 522px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/ijegxByS1C.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.flex-row-f {
  position: absolute;
  width: 1494px;
  height: 754px;
  top: 191px;
  left: 0;
  z-index: 64;
}
.adobe-express-file {
  position: absolute;
  width: 651px;
  height: 754px;
  top: 0;
  left: 843px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/0ue4ucfZAb.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.greetings-im-hastan {
  position: absolute;
  width: 927px;
  height: 388px;
  top: 145px;
  left: 379px;
  font-family: Inter, var(--default-font-family);
  font-size: 95px;
  font-weight: 400;
  line-height: 114.972px;
  text-align: left;
  z-index: 6;
}
.greetings-im {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 95px;
  font-weight: 400;
  line-height: 114.972px;
  text-align: left;
}
.hastan {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 95px;
  font-weight: 400;
  line-height: 114.972px;
  text-align: left;
}
.ellipse-stroke {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 567px;
  left: 748px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/6grj5sa0N1.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.polygon {
  position: relative;
  width: 43.875px;
  height: 42.219px;
  margin: 30.75px 0 0 22.263px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/sdZgYAqCT4.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.line-stroke {
  position: absolute;
  width: 718px;
  height: 2px;
  top: 615px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/yX2uLqPdPd.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.image-21 {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 619px;
  left: 397px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/YXaHWaA7kv.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
}
.image-22 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 638px;
  left: 359px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/r62U2WBxLS.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.flex-row-a {
  position: absolute;
  width: 1511px;
  height: 1061px;
  top: 1119px;
  left: 0;
  z-index: 66;
}
.about-me {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 375px;
  height: 1061px;
  top: 0;
  left: 0;
  color: #353535;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 175px;
  font-weight: 400;
  line-height: 316.162px;
  text-align: left;
  transform: rotate(-90deg);
  z-index: 8;
  text-shadow: -72px 49px 7.3px rgba(0, 0, 0, 0.25);
}
.umut-hastan-23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 72px;
  top: 260px;
  left: 511px;
  color: #ffffff;
  font-family: Koh Santepheap, var(--default-font-family);
  font-size: 57px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.rectangle-24 {
  position: absolute;
  width: 207px;
  height: 49px;
  top: 271px;
  left: 885px;
  background: #f6f6f6;
  z-index: 66;
  border-radius: 10px;
}
.software-developer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33px;
  top: 8px;
  left: 16px;
  color: #000000;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 32.52px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.passion-hunger-learn {
  position: absolute;
  width: 1000px;
  height: 677px;
  top: 363px;
  left: 511px;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
  z-index: 10;
}
.itis-magistri-cumacini {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.computer-science-dedication {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.itis-magistri-cumacini-25 {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.computer-science-dedication-26 {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.itis-magistri-cumacini-27 {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.computer-science-dedication-28 {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.itis-magistri-cumacini-29 {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.computer-science-dedication-2a {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.itis-magistri-cumacini-2b {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.computer-science-dedication-2c {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.itis-magistri-cumacini-2d {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.computer-science-dedication-2e {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.itis-magistri-cumacini-2f {
  position: relative;
  color: #ae00ff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.multicultural-communication-skills {
  position: relative;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
}
.line-stroke-30 {
  position: absolute;
  width: 409.001px;
  height: 2px;
  top: 4953.224px;
  left: 60.001px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-06-08/AHJdm2YE7p.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.flex-row-b {
  position: absolute;
  width: 1222px;
  height: 751px;
  top: 4999px;
  left: 14px;
  z-index: 84;
}
.contact-31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 316px;
  height: 690px;
  top: 0;
  left: 0;
  color: #353535;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 175px;
  font-weight: 400;
  line-height: 316.162px;
  text-align: left;
  transform: rotate(-90deg);
  z-index: 32;
  text-shadow: -72px 49px 7.3px rgba(0, 0, 0, 0.25);
}
.reach-out {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 51px;
  left: 812px;
  color: #ffffff;
  font-family: Koh Santepheap, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.rectangle-32 {
  position: absolute;
  width: 516px;
  height: 630px;
  top: 121px;
  left: 706px;
  background: #353535;
  z-index: 33;
  border-radius: 10px;
}
.rectangle-33 {
  position: absolute;
  width: 516px;
  height: 630px;
  top: 0;
  left: 0;
  font-size: 0px;
  background: #353535;
  z-index: 72;
  border-radius: 10px;
}
.name {
  display: block;
  position: relative;
  height: 36px;
  margin: 54px 0 0 60px;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.rectangle-34 {
  position: relative;
  width: 395px;
  height: 40px;
  margin: 0 0 0 60px;
  background: #353535;
  border: 1px solid #636363;
  z-index: 73;
  border-radius: 10px;
}
.email {
  display: block;
  position: relative;
  height: 36px;
  margin: 24px 0 0 60px;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 76;
}
.rectangle-35 {
  position: relative;
  width: 395px;
  height: 40px;
  margin: 0 0 0 60px;
  background: #353535;
  border: 1px solid #636363;
  z-index: 75;
  border-radius: 10px;
}
.number {
  display: block;
  position: relative;
  height: 36px;
  margin: 24px 0 0 60px;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 80;
}
.rectangle-36 {
  position: relative;
  width: 395px;
  height: 40px;
  margin: 0 0 0 60px;
  background: #353535;
  border: 1px solid #636363;
  z-index: 77;
  border-radius: 10px;
}
.rectangle-37 {
  position: absolute;
  width: 395px;
  height: 40px;
  top: -1px;
  left: -1px;
  background: #353535;
  border: 1px solid #636363;
  z-index: 78;
  border-radius: 10px;
}
.rectangle-38 {
  position: relative;
  width: 395px;
  height: 40px;
  margin: 210px 0 0 60px;
  background: #ae00ff;
  z-index: 79;
  border-radius: 10px;
}
.send-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 2px;
  left: 126px;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 83;
}
.your-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 186px;
  height: 62px;
  top: 354px;
  left: 60px;
  color: #ffffff;
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
  z-index: 82;
}
.rectangle-39 {
  position: absolute;
  width: 395px;
  height: 86px;
  top: 394px;
  left: 60px;
  background: #353535;
  border: 1px solid #636363;
  z-index: 81;
  border-radius: 10px;
}
