.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px 0;
  background-color: #1E1E1E;
}


.navigation {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-family: Konkhmer Sleokchher, var(--default-font-family);
  font-size: 29px;
  font-weight: 400;
  color: var(--text-white);
  line-height: 1;
}

.nav-menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-link {
  font-family: Koh Santepheap, var(--default-font-family);
  font-size: 17px;
  font-weight: 400;
  color: var(--text-white);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}

.header-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent 0%, var(--text-white) 20%, var(--text-white) 80%, transparent 100%);
  margin-top: 20px;
}
